*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #e4e2d9a0;
}
header{
    width: 100%;
    background-color: #f2c926a0;
    margin: 0;
    height: auto;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 3em;
}
header h1::before{
    text-decoration: ❗;
}
main{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(244 254 255);
    padding: 10px;
}
/* Calculating hypotenuse */
.math{
    border: 2px dotted rgb(112, 112, 203);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
    position: relative;
}
a{
    text-decoration: underline;
    color:rgb(18, 96, 96);
    cursor: pointer;
}
a:hover{
    color: aqua;
}
a:active{
    color:blueviolet;
}
img{
    width: 430px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.triangle{
    position: absolute;
    top: 1310px;
    right: 20px;
}
p,label,input,button{
    font-size: 1.5em;
}
button#submitButton{
    margin-top: 10px;
    box-shadow: 1px 1px 5px 3px rgba(14, 202, 61, 0.564);
    background-color: rgb(248, 238, 191);
}
button#submitButton:active{
    background-color: rgb(103, 71, 11);
}
#cLabel{
    margin-left: 20px;
}
.circumference{
    margin-top: 30px;
    position: relative;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid darkblue;
    display: inline-block;
    position: relative;
}
.radiusLine{
    width: 150px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0ce64d;
}
.radiusLine p{
    font-size: 1.5em;
    color: #de4e4e;
    margin: 0;
    transform: translate(60px, -30px);
}
.radCalc{
    position: absolute;
    top: 150px;
    right: 100px;
}
#circCalc{
    margin-top: 10px;
    box-shadow: 1px 1px 5px 3px rgb(188, 118, 175);
    background-color: rgb(43, 51, 91);
    color: white;
}
hr{
    margin: 20px 0 20px;
}

/* Counter program */
.counter{
    display: block;
    text-align: center;
    margin: 50px auto;
}
label#countLabel{
    display: block;
    text-align: center;
    font-size: 100px;
}
.counter button{
    margin-left: 10px;
}

/* Random number generator */
.dice{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 2em;
}
.dice button{
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px red;
}
.dice label{
    display: block;
    margin-top: 15px;
}

/* nested loop */
.nestedLoop{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}
#myRect{
    background-color: rgb(11, 83, 11);
    color: bisque;
    box-shadow: 0 0 5px lightgreen;
}
p#myRectangle{
    color: forestgreen;
}


footer{
    height: 200px;
    background-color: #a9e069;
    text-align: center;
    color: white;
    padding: 30px;
}