/* Calculating hypotenuse */
.triangle{
    border: 2mm ridge rgb(112, 112, 203);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 800px;
}
span{
    text-decoration: underline;
    color:aqua;
    cursor: pointer;
}
img{
    width: 430px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.math{
    position: absolute;
    top: 300px;
    right: 250px;

}
p,label,input,button{
    font-size: 1.5em;
}
button#submitButton{
    margin-top: 10px;
    box-shadow: 1px 1px 5px 3px rgba(14, 202, 61, 0.564);
    background-color: rgb(248, 238, 191);
}
button#submitButton:active{
    background-color: rgb(103, 71, 11);
}
#cLabel{
    margin-left: 20px;
}

/* Counter program */
.counter{
    display: block;
    text-align: center;
    margin: 50px auto;
}
label#countLabel{
    display: block;
    text-align: center;
    font-size: 100px;
}
.counter button{
    margin-left: 10px;
}

/* Random number generator */
.dice{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 2em;
}
.dice button{
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px red;
}
.dice label{
    display: block;
    margin-top: 15px;
}